{% extends "base.html.j2" %}

{%block title%}Další{%endblock%}

{% block obsah %}

<h1>Další dopuručení</h1>

<h2>Další doporučení filmů a seriálů ke zhlednutí:</h2>

<p>Dracula<br>Arcane<br>Love, death and robots<br>Squid game<br>Midsomar<br>Altered carbon<br>
Black mirror<br>The Withcer<br>Apostle<br>Rick and Morty<br>The haunting of Hill house</p>

{% endblock obsah %}

